/* inicio de la pagina de asistencia */
.texto-asistencia-contenedor {
    display: flex;
    justify-content: center;
}

.texto-asistencia {
    font-family: $texto;
    font-size: 20px;
    text-align: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.formulario-margenes {
    margin: 0 20px;
}

/* fin de estilos de asistencia */