/* header y nav */
header {
    background-color: $color-pagina;
    @include tamanios (150px, 100%)
}

.nav-order {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.nav-items {
    align-self: center;
    align-items: center;
}

.nav-logo-container {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
}

.nav-logo {
    height: 100px;
    width: auto;
}

.nav-logo:hover {
    transform: rotateY(360deg);
    transition: all 2s;
}

.link-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.link {
    font-family: "Playwrite IS", cursive;
    text-decoration: none;
    color: whitesmoke;
}

.nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
/* fin de header y nav */