/* estilos de index */
body {
    background-image: url(../media/cactus-background-decoration.webp);
    background-repeat: repeat;
    background-size: 255px;
}
.imagen-titulo-contenedor {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagen-titulo {
    height: 300px;
    width: 50%;
}

.title {
    margin: 50px 0;
    font-style: italic;
    font-family: $titulo;
    display: flex;
    justify-content: center;
}

.page-1-order {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-with-media {
    text-align: center;
    display: flex;
    align-items: center;
    font-family: $texto;
    font-size: 20px;
    width: 50%;
}

.videos {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.button {
    font-family: $boton;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.color-boton {
    background-color: map-get($paleta-colores, color-marca);
}

section {
    ul {
        li {
            display: inline;
        }
    }
}
/* fin de estilos de index */